/*==========主体contenter=========*/
#contenter{width:960px;margin:0 auto}
/*====== 活动首页 ======*/
.cLeft-box{float:left;display:inline;width:680px;background:white;padding:0 15px}
/*幻灯片*/
.cl-banner{margin-top:12px;width:680px;height:300px;overflow:hidden;position:relative}
.cl-banner .cl-banner-content div{position:absolute;left:0;top:0;z-index:1}
.cl-banner .cl-banner-content .smask {z-index: -1}
.cl-banner .cl-banner-content div img{width:680px;height:300px}
.cl-banner .cl-banner-title{position:absolute;left:0;top:235px;z-index:100}
.cl-banner .cl-banner-title li{float:left;display:inline;width:195px;height:45px;overflow:hidden;padding:10px 15px;margin:0 2px 0 0;line-height:22px;cursor:pointer;z-index:100;background:url('../images/secIMG/common/transparentBlack-bg.png') repeat 0 0;_background-image:none;_background:#000;_filter:alpha(opacity=45)}
.cl-banner .cl-banner-title li a{color:white}
.cl-banner .cl-banner-title li a:hover{text-decoration:underline}
.cl-banner .cl-banner-title li.current{background:url('../images/secIMG/common/transparentWhite-bg.png') repeat 0 0;z-index:110;_background-image:none;_background:white;_filter:alpha(opacity=65)}
.cl-banner .cl-banner-title li.current a{color:black}
.cl-banner .cl-banner-title li.slideList{width:196px;margin:0}
/*今日热门活动*/
.c-itemList-box{padding:15px 0}
.c-itemList-box ul li{float:left;display:inline;width:204px;position:relative;padding:0 10px }
.c-itemList-box ul li .cilbList{width:204px;overflow:hidden;height:250px}
.c-itemList-box ul li .cilbList img{width:200px;height:200px;border:1px #ccc solid;padding:1px}
.c-itemList-box ul li .cilbList p{height:30px;line-height:20px;padding:5px}
.c-itemList-box ul li .cilbList p span{color:#83bf1c;padding-right:5px}
.c-itemList-box ul li .cilbLayer{display:none;z-index:100;position:absolute;left:125px;top:50px;width:250px;background:#fffde6;border:1px #ccc solid;padding:5px 10px}
.c-itemList-box ul li .cilbLayer p{line-height:18px}
.c-itemList-box ul li .cilbLayer p span{color:#83bf1c;padding-right:5px}
/*游戏类型*/
.game-type-box{padding:0 10px}
.game-type-box dl.gtb-dl{float:left;display:inline;width:330px;overflow:hidden;padding:5px 0 15px 0}
.game-type-box dl.gtb-dl dt{float:left;display:inline;width:105px}
.game-type-box dl.gtb-dl dt img{width:100px;height:100px;padding:1px;border:1px #ccc solid}
.game-type-box dl.gtb-dl dd{float:left;display:inline;width:200px;padding:0 15px 0 10px}
.game-type-box dl.gtb-dl dd h6{margin:5px 0 10px 0;max-height:40px;overflow:hidden}
.game-type-box dl.gtb-dl dd h6 a{font-size:14px;font-weight:normal;line-height:20px}
.game-type-box dl.gtb-dl dd p{line-height:18px;color:#999}
.game-type-box .hr-line{border-top:1px #ccc dotted;height:7px}
/*====cRight-box====*/
.cRight-box{float:left;display:inline;width:250px}
/*最新中奖*/
.hd-winBox{padding:10px 16px 0}
.hd-winBox dl{padding:5px 0;line-height:20px;color:#999}
.hd-winBox dl dt a.text-underline:hover{text-decoration:underline}
/*推荐商家*/
.hd-businessBox{padding:5px 0 0 0}
.hd-businessBox ul li{float:left;display:inline;width:66px;margin:5px 8px}
.hd-businessBox ul li img{width:62px;height:62px;padding:1px;border:1px #ccc solid}
.hd-businessBox ul li p{line-height:20px;height:20px;overflow:hidden}
/*======活动详细页======*/
.hd-content-box{padding:5px 0 0 0}
.hd-content-box h3{font-size:24px;line-height:38px;font-weight:normal;padding:5px 0}
.hd-content-box .hdcb-text{}
.hd-content-box .hdcb-text p{line-height:20px;padding:3px 0}
.hd-content-box .hdcb-text p span{color:#999}
.hd-content-box .hdcb-text p.last{padding:10px 0}
.hd-content-box .hdcb-text p.last b{color:#84c01e;padding-left:15px;font-family:Verdana}
.hd-content-box .hdcb-text p.follow span{float:left;display:inline;background:url('../images/secIMG/common/iconPng8.png') no-repeat 0 -224px;height:29px;width:110px;text-align:center;line-height:29px}
.hd-content-box .hdcb-text p.follow span a{color:white;font-weight:bold;font-size:14px}
.hd-content-box .hdcb-text p.follow span a em{font-style:normal;font-size:16px;padding-right:5px}
/*gamebox*/
.hdcb-game-box{padding-top:20px}
.hdcb-game-box h6{font-size:12px;font-weight:normal;padding:10px 0}
.hdcb-game-box h6 span{color:#ff6400;font-weight:bold;padding-left:20px}
.hdcb-game-box h6 span em{font-family:Verdana;font-style:normal}
.hdcb-game-box .hdcb-game-winUser{margin:20px 0 0 0;border:1px #ccc solid;background:#f1f1f1;height:20px;line-height:20px;padding:10px;overflow:hidden}
.hdcb-game-box .hdcb-game-winUser ul li span{color:#999;padding:0 10px}
/*活动简介*/
.hdcb-infor-box{padding:20px 0;border-bottom:1px #ccc dashed}
.hdcb-infor-box h4{border-bottom:3px #f1f1f1 solid;font-size:14px;height:25px;line-height:25px;padding-left:10px;overflow:hidden}
.hdcb-infor-box p{padding:10px 10px 0 10px;line-height:20px}
/*活动图片*/
.hdcb-images-box{padding:20px 0;border-bottom:1px #ccc dashed;width:680px;overflow:hidden}
.hdcb-images-box h4{font-size:14px;height:25px;line-height:25px;padding-left:10px;overflow:hidden}
.hdcb-images-box .jMyCarousel{width:690px;height:120px;overflow:hidden}
.hdcb-images-box ul.aCB_img li{float:left; display:inline; margin:0 26px 0 0}
.hdcb-images-box ul.aCB_img li.aCB_imgLast{padding-right:0}
.hdcb-images-box ul.aCB_img li img{width:100px;height:100px}
.hdcb-images-box .jcarousel-container {position: relative; _overflow:hidden;_width:610px;padding:10px 40px 10px 40px}
.hdcb-images-box .jcarousel-clip {z-index: 2;padding: 0;margin: 0;overflow: hidden;position: relative}
.hdcb-images-box .jcarousel-list {z-index: 1;overflow: hidden;position: relative;top: 0;left: 0;margin: 0;padding: 0;}
.hdcb-images-box .jcarousel-next,.hdcb-images-box .jcarousel-prev {z-index: 3;display:none;cursor:pointer;position:absolute;background:url('../images/secIMG/common/iconPng8.png') no-repeat;top:0;height:100px;width:25px;}
.hdcb-images-box .jcarousel-prev{background-position:-59px -258px;left:10px;top:10px;z-index:3}
.hdcb-images-box .jcarousel-next{background-position:-29px -258px;left:650px;top:10px;z-index:3}
.hdcb-images-box .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.hdcb-images-box .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .hdcb-images-box .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{background-position:0 -258px;cursor: default;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {background-position:-88px -258px;cursor: default;}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:100%;}
/*参与用户*/
.hd-navPeople{padding:10px 0 0 13px;max-height:175px;overflow:hidden;width:230px}
.hd-navPeople ul li{float:left;display:inline;padding:3px}
.hd-navPeople ul li img{width:34px;height:34px;padding:1px;border:1px #ccc solid}
/*你可能感兴趣的活动*/
.hd-interestBox{padding:5px 0 0 15px}
.hd-interestBox dl{padding:7px 0}
.hd-interestBox dl dt{float:left;display:inline;width:70px;overflow:hidden}
.hd-interestBox dl dt img{width:66px;height:66px;background:white;padding:1px;border:1px #ccc solid}
.hd-interestBox dl dd{float:left;display:inline;width:155px;padding-left:8px}
.hd-interestBox dl dd h6{font-size:12px;font-weight:normal;line-height:18px;min-height:50px;_height:50px}
.hd-interestBox dl dd a:hover{text-decoration:underline}
.hd-interestBox dl dd p{color:#999}
.hd-interestBox dl dd p span{padding:0 10px 0 0}
/*推荐活动*/
.hd-recommendBox{padding:5px 0 0 15px}
.hd-recommendBox dl{padding:5px 0 10px 0;line-height:18px;border-bottom:1px #ccc dotted}
.hd-recommendBox dl dt{padding:4px 0}
.hd-recommendBox dl dt a:hover{text-decoration:underline}
.hd-recommendBox dl dd{color:#999}
.hd-recommendBox dl dd span{padding:0 20px 0 0}
/*======全部活动======*/
.hdAll-box{padding:20px 0 0 0}
.hdAll-box a:hover{text-decoration:underline}
.hdAll-box .hab-tabs-box{border-bottom:2px #0b8ab6 solid;height:36px;overflow:hidden}
.hdAll-box .hab-ul-box{}
.hdAll-box .hab-ul-box li{float:left;display:inline;width:120px;height:36px;line-height:36px;text-align:center;margin:0 0 0 10px;overflow:hidden;background:transparent url('../images/secIMG/common/iconPng8.png') no-repeat -550px -56px;cursor:pointer;font-size:14px;color:#666;letter-spacing:1px}
.hdAll-box .hab-ul-box li.on{background-position:-424px -56px;color:white;font-weight:bold}
.hdAll-box .hab-tabs-content-box{}
.hdAll-box .hab-tabs-content-box .box{display:none;overflow:hidden;width:660px;padding:10px}
.hdAll-box .hab-tabs-content-box .on{display:block;}
.hab-tcb-total{color:#999;padding:10px 0 0 0}
.hab-tcb-total .htt-left{float:left;display:inline}
.hab-tcb-total .htt-right{float:right;display:inline}
.hab-tcb-total .htt-right a{margin:0 5px}
.hab-tcb-total .htt-right a.a-on{color:#ff6600}
.hab-tcb-list ul li{float:left;display:inline;width:660px;overflow:hidden;padding:25px 0;border-bottom:1px #ccc dotted}
.hab-tcb-list ul li .htgl-img{float:left;display:inline;width:150px;overflow:hidden}
.hab-tcb-list ul li .htgl-img img{width:140px;height:140px;padding:1px;background:white;border:1px #ccc solid}
.hab-tcb-list ul li .htgl-infor{float:left;display:inline;width:340px;padding:0 20px 0 10px;line-height:20px}
.hab-tcb-list ul li .htgl-infor h6{font-size:14px;line-height:20px;padding-bottom:1px;min-height:40px;_height:40px}
.hab-tcb-list ul li .htgl-infor h6 span{color:#7ba7b6;font-size:12px;font-weight:normal;padding-left:5px}
.hab-tcb-list ul li .htgl-infor p{color:#999;padding:1px 0}
.hab-tcb-list ul li .htgl-infor .htgli-content{color:#999;padding-top:1px;}
.hab-tcb-list ul li .htgl-infor .htgli-content .htglic-h{float:left;display:inline;width:36px}
.hab-tcb-list ul li .htgl-infor .htgli-content .htglic-t{float:left;display:inline;width:304px}
.hab-tcb-list ul li .htgl-operate{float:left;display:inline;width:140px;overflow:hidden;padding-top:15px}
.hab-tcb-list ul li .htgl-operate p{text-align:center;padding:5px 0;color:#999;line-height:20px}
.hab-tcb-list ul li .htgl-operate p a{float:left;display:inline;width:66px;margin:0 0 0 36px}
.hab-tcb-list ul li .htgl-operate p.htgl-o1 a{height:22px;line-height:22px}
.hab-tcb-list ul li .htgl-operate p.htgl-o1 a:hover{text-decoration:none}
.hab-tcb-list ul li .htgl-operate p.htgl-o1 a.ho-off{background:#f2ecde;color:#d9bb74;border:1px #d9bb74 solid;cursor:default}
.hab-tcb-list ul li .htgl-operate p.htgl-o1 a.ho-on{background:#e8f1d7;color:#7c9c43;border:1px #a6c473 solid;cursor:default}
.hab-tcb-list ul li .htgl-operate p.htgl-o1 a.ho-over{background:#eee;color:#888;border:1px #bbb solid;cursor:default}
.hab-tcb-list ul li .htgl-operate p.htgl-o2 a{background:url('../images/secIMG/common/iconPng8.png') no-repeat;height:26px;line-height:26px }
.hab-tcb-list ul li .htgl-operate p.htgl-o2 a.ho-on{background-position:-118px -224px;color:white}
.hab-tcb-list ul li .htgl-operate p.htgl-o2 a.ho-off{background-position:-192px -224px;color:#666;cursor:default}
/*======活动参与者列表======*/
.hd-people-box{background:white;padding:20px}
.hd-people-box h3.hd-pbH3{border-bottom:1px #ddd solid;padding:0 0 8px 0;font-size:14px}
.hd-people-box h3.hd-pbH3 .hb-phH3-left{float:left;display:inline;letter-spacing:1px}
.hd-people-box h3.hd-pbH3 .hb-phH3-left em{font-size:12px;font-style:normal;padding:0 5px;font-weight:normal;color:#7ba7b6}
.hd-people-box h3.hd-pbH3 .hb-phH3-right{float:right;display:inline;font-weight:normal;font-size:12px;color:#999;font-family:宋体}
.hd-people-box h3.hd-pbH3 .hb-phH3-right a{margin:0 8px}
.hd-people-box .hd-pb-total{padding:10px 0 0 0}
.hd-people-box .hd-pb-list-box{border-bottom:1px #ccc dotted;padding:20px 0}
.hd-people-box .hd-pb-list-box li{float:left;display:inline;width:230px;overflow:hidden}
.hd-people-box .hd-pb-list-box li .hd-pblb-img{float:left;display:inline;width:65px;height:65px}
.hd-people-box .hd-pb-list-box li .hd-pblb-img img{width:62px;height:62px}
.hd-people-box .hd-pb-list-box li .hd-pblb-infor{float:left;display:inline;padding-left:10px;width:140px;overflow:hidden;line-height:16px}
.hd-people-box .hd-pb-list-box li .hd-pblb-infor h6{font-size:12px;font-weight:normal}
.hd-people-box .hd-pb-list-box li .hd-pblb-infor p{color:#999;padding:8px 0 0 0}
.hd-people-box .hd-pb-list-box li .hd-pblb-infor p span{padding-left:10px}
/*====== 商街首页 ======*/
/*肯德基旗下的门店*/
.biz-store-box{}
.biz-store-box dl{padding:15px;border-bottom:1px #ccc dotted}
.biz-store-box dl:hover{background:#f9fcf4}
.biz-store-box dl dt{float:left;display:inline;width:70px;overflow:hidden}
.biz-store-box dl dt img{width:66px;height:66px;padding:1px;background:white;border:1px #ccc solid}
.biz-store-box dl dt span a{float:left;display:inline;width:65px;height:19px;background:url('../images/secIMG/common/iconPng8.png') no-repeat;overflow:hidden;margin:7px 0 0 2px;text-align:center;color:white;line-height:19px}
.biz-store-box dl dt span a.on{background-position:-264px -224px}
.biz-store-box dl dt span a.on strong{padding-right:5px;font-size:14px}
.biz-store-box dl dt span a.has-on{background-position:-336px -224px;cursor:default}
.biz-store-box dl dd{float:left;display:inline;width:565px;padding-left:15px}
.biz-store-box dl dd h6{font-size:12px;line-height:18px;padding-bottom:5px}
.biz-store-box dl dd h6 a{color:#333;padding-right:3px;letter-spacing:1px}
.biz-store-box dl dd h6 a:hover{text-decoration:underline;color:#0b8ab6}
.biz-store-box dl dd h6 em{background:url('../images/secIMG/common/iconPng8.png') no-repeat -45px 3px;width:27px;display: inline-block;}
.biz-store-box dl dd p{line-height:18px;padding-top:5px;color:#999}
.biz-store-box dl dd p.d-tel{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -71px;padding-left:25px}
.biz-store-box dl dd p.d-address{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -107px;padding-left:25px}
.biz-store-box dl dd p.d-address em{background:url('../images/secIMG/common/iconPng24.png') no-repeat -53px -29px;width:15px;display: inline-block;}
.biz-store-box dl dd p.d-infor{text-align:right;padding:10px 0 0 0;_padding:12px 0 0 0}
.biz-store-box dl dd p.d-infor a{margin:0 0 0 15px;color:#bbb}
.biz-store-box dl dd p.d-infor em{font-family:Verdana;font-style:normal}
/*====== 商家列表 ======*/
/*推荐商户*/
.biz-list-content{background:white;padding:0 20px}
.biz-list-content .c-h4-title .chTitle-more{width:700px;}
.biz-list-content ul li{float:left;display:inline;width:129px;padding:20px 12px}
.biz-list-content ul li img{width:125px;height:125px;padding:1px;background:white;border:1px #999 solid}
.biz-list-content ul li h6{font-weight:normal;font-size:12px;padding:5px 5px 0 5px;height:20px;line-height:20px;overflow:hidden}
.biz-list-content ul li p{color:#666;padding:0 0 0 5px;height:20px;line-height:20px;overflow:hidden}
/*分类商户*/
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleML{float:right;display:inline}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleML a{float:left;display:inline;width:60px;height:23px;line-height:23px;overflow:hidden;margin: 0 20px 0 0;color:#999}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleML a:hover{text-decoration:underline;color:#0b8ab6}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleML a.ctm-on{background:#84c01e;color:white;font-weight:bold;text-align:center}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleML a.ctm-on:hover{text-decoration:none}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleMR{float:right;display:inline;font-weight:normal;padding-left:10px;font-size:12px}
.biz-lc-type-box .c-h4-title .chTitle-more .chTitleMR em{font-style:normal;color:#0b8ab6;font-family:Verdana;font-size:18px}
.biz-lctb-list{}
.biz-lctb-list dl{border-bottom:1px #ccc dotted;float:left;display:inline;width:430px;height:85px;padding:15px;overflow:hidden}
.biz-lctb-list dl:hover{background:#f9fcf4}
.biz-lctb-list dl dt{float:left;display:inline;width:70px;height:71px;overflow:hidden}
.biz-lctb-list dl dt img{width:66px;height:66px;padding:1px;background:white;border:1px #ccc solid}
.biz-lctb-list dl dt span a{float:left;display:inline;width:65px;height:19px;background:url('../images/secIMG/common/iconPng8.png') no-repeat;overflow:hidden;margin:7px 0 0 2px;text-align:center;color:white;line-height:19px}
.biz-lctb-list dl dt span a.on{background-position:-264px -224px}
.biz-lctb-list dl dt span a.on strong{padding-right:5px;font-size:14px}
.biz-lctb-list dl dt span a.has-on{background-position:-336px -224px;cursor:default}
.biz-lctb-list dl dd{float:left;display:inline;width:300px;padding-left:15px}
.biz-lctb-list dl dd h6{font-size:12px;line-height:18px;padding-bottom:5px}
.biz-lctb-list dl dd h6 a{color:#333;padding-right:3px;letter-spacing:1px}
.biz-lctb-list dl dd h6 a:hover{text-decoration:underline;color:#0b8ab6}
.biz-lctb-list dl dd h6 em{background:url('../images/secIMG/common/iconPng8.png') no-repeat -45px 3px;width:27px;display: inline-block;}
.biz-lctb-list dl dd p{line-height:18px;padding-top:5px;color:#999}
.biz-lctb-list dl dd p.d-tel{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -71px;padding-left:25px}
.biz-lctb-list dl dd p.d-address{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -107px;padding-left:25px}
.biz-lctb-list dl dd p.d-address em{background:url('../images/secIMG/common/iconPng24.png') no-repeat -53px -29px;width:15px;display: inline-block;}
/*====== 门店首页 ======*/
/*行业分类*/
.biz-storeList-padding ul.rlb-ul li{padding:20px 15px}
/*相关话题*/
.biz-storeHTlist-box h4.biz-storeHTlistB-h4{font-size:14px;font-weight:normal;border-bottom:1px #ddd solid;height:30px;line-height:30px;padding:5px 15px 3px 15px}
.biz-storeHTlist-box h4.biz-storeHTlistB-h4 span.biz-sbL{float:left;display:inline}
.biz-storeHTlist-box h4.biz-storeHTlistB-h4 span.biz-sbR{float:right;display:inline}
.biz-storeHTlist-box h4.biz-storeHTlistB-h4 span.biz-sbR a{float:left;display:inline;width:66px;height:27px;line-height:27px;background:url('../images/secIMG/common/iconPng8.png') no-repeat -474px -224px;overflow:hidden;text-align:center;margin:0 5px;font-size:12px}
.biz-storeHTlist-box h4.biz-storeHTlistB-h4 span.biz-sbR a.bs-on{background-position:-405px -224px;color:white;font-weight:bold}
/*联系方式*/
.biz-infor-contactUs-box{padding:20px 10px 10px 15px}
.biz-infor-contactUs-box h4{font-size:14px;font-weight:normal}
.biz-infor-contactUs-box p{line-height:18px;padding-top:5px;color:#666}
.biz-infor-contactUs-box p.d-tel{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -71px;padding-left:25px}
.biz-infor-contactUs-box p.d-address{background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -107px;padding-left:25px}
.biz-infor-contactUs-box p.d-address em{background:url('../images/secIMG/common/iconPng24.png') no-repeat -53px -29px;width:15px;display: inline-block;}
/*同商家门店*/
.biz-store-similar-box{padding:5px 10px}
.biz-store-similar-box ul li{float:left;display:inline;width:220px;overflow:hidden;padding:5px}
.biz-store-similar-box ul li .biz-store-sbT{}
.biz-store-similar-box ul li .biz-store-sbT dl dt{float:left;display:inline;width:70px;height:71px;overflow:hidden}
.biz-store-similar-box ul li .biz-store-sbT dl dt img{width:66px;height:66px;padding:1px;background:white;border:1px #ccc solid}
.biz-store-similar-box ul li .biz-store-sbT dl dd{float:left;display:inline;width:140px;padding-left:10px;line-height:20px}
.biz-store-similar-box ul li .biz-store-sbT dl dd h6{font-size:12px;font-weight:normal;min-height:33px;_height:30px}
.biz-store-similar-box ul li .biz-store-sbT dl dd p{color:#999}
.biz-store-similar-box ul li .biz-store-sbT dl dd p em{font-family:Verdana;font-style:normal}
.biz-store-similar-box ul li .biz-store-sbB{padding-top:5px;display:none} 
.biz-store-similar-box ul li .biz-store-sbB p{color:#999;line-height:20px}
.biz-store-similar-box ul li.bgWhite{background:white;cursor:pointer}
/*====== 我的门店 ======*/
.biz-sMine-manage-box{padding-bottom:20px}
.biz-sMine-manage-box a{float:left;display:inline;width:200px;height:200px;background:url('../images/secIMG/common/iconPng8.png') no-repeat -225px -628px;margin:0 13px}
.biz-sMine-manage-box a img{float:left;display:inline;padding:30px 0 0 55px}
.biz-sMine-manage-box a span{float:left;display:inline;width:200px;font-family:微软雅黑,黑体;font-size:20px;line-height:30px;padding:15px 0 0 0;text-align:center;color:#333}
.biz-sMine-manage-box a:hover{background-position:0 -628px;}
.biz-sMine-manage-box a:hover span{color:#0b8ab6}
/*今日数据*/
h4.pReset{padding:10px 15px;}
.biz-sMine-box{padding:0 13px 20px 13px}
.biz-sMine-box h5{height:31px;background:transparent url('../images/secIMG/common/bgPng24.png') repeat-x 0 -80px;border:1px #ccc solid;line-height:31px;overflow:hidden;font-size:14px;font-weight:normal;padding-left:20px;width:632px}
.biz-sMine-box .biz-sMineB-content{border:1px #ccc solid;border-top:none;width:652px;padding:20px 0;color:#999}
.biz-sMine-box .biz-sMineB-content span{color:#666;padding:0 20px}
.biz-sMine-box .biz-sMineB-content span b{font-size:18px;font-family:Verdana;color:#84c01e;padding:0 5px}
.biz-sMine-box .biz-sMineB-content span b.bsc-blue{color:#0b8ab6}
/*访问统计*/
.biz-sm-visit-box{}
.biz-sm-visit-box p.bsvb-title{padding:15px 0 5px 0;line-height:25px;color:#333;font-size:14px}
ul.bsvb-total-box li{float:left;display:inline;background:transparent url('../images/secIMG/common/ico-small8.png') no-repeat 0 -207px;width:200px;height:23px;line-height:23px;color:#999;padding-left:23px}
ul.bsvb-total-box li.btb-w{background-position:0 -230px}
ul.bsvb-total-box li.btb-m{background-position:0 -253px}
ul.bsvb-total-box li.btb-all{background-position:0 -276px}
/*活动列表*/
.biz-manage-list{}
.biz-manage-list ul li{float:left;display:inline;width:660px;padding:20px 10px;border-bottom:1px #ccc dotted}
.biz-manage-list ul li .hml-img{float:left;display:inline;width:120px;overflow:hidden}
.biz-manage-list ul li .hml-img img{width:100px;height:100px;padding:1px;background:white;border:1px #ccc solid}
.biz-manage-list ul li .hml-infor{float:left;display:inline;width:260px;overflow:hidden;line-height:24px}
.biz-manage-list ul li .hml-infor h6{font-size:12px;font-weight:normal;color:#333;_height:55px;min-height:55px}
.biz-manage-list ul li .hml-infor h6 a{color:#333}
.biz-manage-list ul li .hml-infor h6 span{color:#7ba7b6}
.biz-manage-list ul li .hml-infor p{color:#999}
.biz-manage-list ul li .hml-infor p span{padding-right:10px}
.biz-manage-list ul li .hml-state{float:left;display:inline;width:130px;overflow:hidden}
.biz-manage-list ul li .hml-state p a {display: inline;float: left;margin:33px 0 0 36px;width: 66px;text-align:center}
.biz-manage-list ul li .hml-state p.hml-o1 a{height: 22px;line-height: 22px;}
.biz-manage-list ul li .hml-state p.hml-o1 a.ho-on {background:#e8f1d7;border: 1px solid #a6c473;color: #7c9c43;cursor: default;}
.biz-manage-list ul li .hml-operate{float:left;display:inline;width:150px;overflow:hidden;padding-top:15px}
.biz-manage-list ul li .hml-operate p{padding:8px 0}
.biz-manage-list ul li .hml-operate p span{padding:0 0 0 13px}
/*====== 活动管理 ======*/
.bizM-titleH5{font-size:16px;padding:30px 5px 10px 5px}
.bizM-titleH5 span{color:#7ba7b6;font-weight:normal;font-size:12px}
/*参与名单*/
.mdAll-box{padding:20px 0 0 0}
.mdAll-box a:hover{text-decoration:underline}
.mdAll-box .mab-tabs-box{border-bottom:2px #0b8ab6 solid;height:36px;overflow:hidden}
.mdAll-box .mab-ul-box{}
.mdAll-box .mab-ul-box li{float:left;display:inline;width:120px;height:36px;line-height:36px;text-align:center;margin:0 0 0 10px;overflow:hidden;background:transparent url('../images/secIMG/common/iconPng8.png') no-repeat -550px -56px;cursor:pointer;font-size:14px;color:#666;letter-spacing:1px}
.mdAll-box .mab-ul-box li.on{background-position:-424px -56px;color:white;font-weight:bold}
.mdAll-box .mab-tabs-content-box{}
.mdAll-box .mab-tabs-content-box .box{display:none;overflow:hidden;width:660px;padding:10px}
.mdAll-box .mab-tabs-content-box .on{display:block;}
.mtcb-ulList-box ul li{float:left;display:inline;height:40px;line-height:40px;overflow:hidden;padding-left:10px;color:#666}
.mtcb-ulList-box ul.bgTitle{background:transparent  url('../images/secIMG/common/bgPng24.png') repeat-x 0 -116px}
.mtcb-ulList-box ul.bgTitle li{height:33px;line-height:33px;color:#333}
.mtcb-ulList-box ul li.mub-name{width:110px}
.mtcb-ulList-box ul li.mub-relation{width:260px}
.mtcb-ulList-box ul li.mub-time{width:260px}
.mtcb-ulList-box ul li.mub-time2{width:240px;padding:0 0 0 30px}
.mtcb-ulList-box ul.bg li{background:#eee}
.mr-line{letter-spacing:-2px;color:#acacac}
.mr-line .ml-white{color:white}
.ml-text{padding-left:15px}
.mab-tabs-content-box .mtcb-ulList-box ul li.mub-relation span{padding:0 0 0 20px}
/*名单*/
.mtcb-infor-box{padding:10px 0 15px 0;line-height:24px;color:#666}
.mtcb-infor-box .mibL{float:left;display:inline;width:300px}
.mtcb-infor-box .mibL .mibL-total{float:left;display:inline}
.mtcb-infor-box .mibL a{float:left;display:inline;width:90px;overflow:hidden}
.mtcb-infor-box .mibL a em{background:#006fac;display:inline;float:left;height: 16px;margin:2px 4px 0 20px;_margin:2px 2px 0 18px;overflow: hidden;width: 16px;}
.mtcb-infor-box .mibL a span{float:left;display:inline}
.mtcb-infor-box .mibR{float:right;display:inline;width:360px}
.mtcb-infor-box .mibR .mibR-md{float:right;display:inline;color:#999}
.mtcb-infor-box .mibR .mibR-md a{margin:0 5px}
.mtcb-infor-box .mibR .mibR-search{float:right;display:inline;background:transparent url('../images/secIMG/common/iconPng8.png') no-repeat -455px -779px;width:180px;height:24px;overflow:hidden;margin-left:10px}
.mtcb-infor-box .mibR .mibR-search input{float:left;display:inline;border:none;background:none}
.mtcb-infor-box .mibR .mibR-search input.inputText{height:23px;padding:0 5px;width:145px;color:#ccc;line-height:23px}
.mtcb-infor-box .mibR .mibR-search input.inputButton{width:24px;height:23px;cursor:pointer}
/*参与名单*/
.mab-tabs-content-box .zjmd-box ul li{float:left;display:inline;height:40px;line-height:45px;overflow:hidden;padding:5px 0 5px 10px;color:#666}
.mab-tabs-content-box .zjmd-box ul.bgTitle{background:transparent  url('../images/secIMG/common/bgPng24.png') repeat-x 0 -116px}
.mab-tabs-content-box .zjmd-box ul.bgTitle li{height:33px;line-height:33px;color:#333;padding:0 0 0 10px}
.mab-tabs-content-box .zjmd-box ul.bgTitle li.mub-relation{line-height:33px}
.mab-tabs-content-box .zjmd-box ul li span{padding:0 0 0 20px}
.mab-tabs-content-box .zjmd-box ul li.mub-name{width:70px}
.mab-tabs-content-box .zjmd-box ul li.mub-relation{width:90px;line-height:20px}
.mab-tabs-content-box .zjmd-box ul li.mub-address{width:200px}
.mab-tabs-content-box .zjmd-box ul li.mub-awards{width:80px}
.mab-tabs-content-box .zjmd-box ul li.mub-time{width:170px}
.mab-tabs-content-box .zjmd-box ul.bg li{background:#eee}
/*====== 数据统计 ======*/
.bizM-tj-select-box{font-size:14px;line-height:28px;padding:10px 0;height:35px;overflow:hidden}
.bizM-tj-select-box .btsb-label{float:left;display:inline;padding:0 10px}
.bizM-tj-select-box .btsb-select{float:left;display:inline;min-width:120px;height:28px;line-height:28px;background:white;border:1px #ccc solid;padding:5px}
.bizM-tj-select-box .btsb-a{float:left;display:inline;padding-left:15px}
.bizM-tj-select-box .btsb-a a{padding:0 5px}
.btsb-ulList-box{padding-top:25px}
.btsb-ulList-box ul li{float:left;display:inline;height:30px;line-height:30px;overflow:hidden;padding:5px 0 5px 10px;color:#666}
.btsb-ulList-box ul.bgTitle{background:transparent  url('../images/secIMG/common/bgPng24.png') repeat-x 0 -116px}
.btsb-ulList-box ul.bgTitle li{height:23px;line-height:23px;color:#333;overflow:hidden}
.btsb-ulList-box ul li span{padding:0 0 0 20px}
.btsb-ulList-box ul.bgTitle li span{padding:0 0 0 15px}
.btsb-ulList-box ul li.bub-rq{width:70px}
.btsb-ulList-box ul li.bub-cy,.btsb-ulList-box ul li.bub-gz,.btsb-ulList-box ul li.bub-yq,.btsb-ulList-box ul li.bub-fx,.btsb-ulList-box ul li.bub-zf,.btsb-ulList-box ul li.bub-pl{width:90px;}
.btsb-ulList-box ul.bg li{background:#eee}
.btsb-prevNext-box{padding:0 0 10px 10px}
.btsb-prevNext-box p{line-height:25px}
.btsb-prevNext-box p span{padding-right:5px;color:#666}
.btsb-prevNext-box p a:hover{text-decoration:underline}
/*====== 订单查询 ======*/
.bddcxH6{font-size:14px;line-height:30px;padding:10px 5px;font-weight:normal}
.bddcxH6 b{font-size:18px;font-family:Verdana;font-weight:normal;padding:0 5px}
.bddcx-select-box{line-height:29px;font-size:14px;padding:15px 0 0 0}
.bddcx-select-box .btsb-label{float:left;display:inline;padding:0 5px}
.bddcx-select-box .btsb-text,.bddcx-select-box .btsb-select{float:left;display:inline;height:29px;line-height:29px;background:white;border:1px #ccc solid;width:100px;margin-right:10px;font-size:14px;color:#666;padding:0 5px}
.busb-padding{padding:15px 0 0 0}
.btsb-marginR{margin-right:15px}
.bddcx-select-box .btsb-text2{float:left;display:inline;height:29px;line-height:29px;background:white;border:1px #ccc solid;width:220px;margin-right:20px}
.bddcx-select-box .btsb-select{padding-top:3px}
.bddcx-select-box .btsb-button{float:left;display:inline;background:transparent url('../images/secIMG/common/iconPng8.png') no-repeat -549px -223px;width:70px;height:29px;overflow:hidden;border:none;font-size:14px;color:#333;letter-spacing:1px;cursor:pointer}
.bddcx-ulList-box{padding-top:25px}
.bddcx-ulList-box ul li{float:left;display:inline;height:30px;line-height:30px;overflow:hidden;padding:5px 0 5px 10px;color:#666}
.bddcx-ulList-box ul.bgTitle{background:transparent  url('../images/secIMG/common/bgPng24.png') repeat-x 0 -116px}
.bddcx-ulList-box ul.bgTitle li{height:23px;line-height:23px;color:#333;overflow:hidden}
.bddcx-ulList-box ul li span{padding:0 0 0 20px}
.bddcx-ulList-box ul.bgTitle li span{padding:0 0 0 15px}
.bddcx-ulList-box ul li.bub-sj{width:70px}
.bddcx-ulList-box ul li.bub-cs{width:100px}
.bddcx-ulList-box ul li.bub-bs{width:80px}
.bddcx-ulList-box ul li.bub-zf,.bddcx-ulList-box ul li.bub-je,.bddcx-ulList-box ul li.bub-sl,.bddcx-ulList-box ul li.bub-tk{width:90px}
.bddcx-ulList-box ul li.bub-bh{width:60px}
.bddcx-ulList-box ul li.bub-zt{width:100px}
.bddcx-ulList-box ul li a:hover{text-decoration:underline}
.bddcx-ulList-box ul.bg li{background:#eee}
/*====== 订单详情 ======*/
.bizM-xq-box{padding:20px 0 30px 100px;font-size:14px;line-height:24px}
.bizM-xq-box dl{padding:8px 0}
.bizM-xq-box dl dt{padding:0 5px 0 0;float:left;display:inline}
.bizM-xq-box dl dd{color:#666;float:left;display:inline}
.bizM-xq-box dl dd span{font-size:12px;padding-left:15px}
.bizM-xq-box .bxb-but{padding:15px 0 0 75px}
.bizM-xq-box .bxb-but .bxb-inputButton{float:left;display:inline;background:transparent url('../images/secIMG/common/iconPng8.png') no-repeat -549px -223px;width:70px;height:29px;overflow:hidden;border:none;font-size:14px;color:#333;letter-spacing:1px;cursor:pointer}

















